<h2>Muito Obrigado !</h2>
<h4>Matrícula Registada <small>referência: <%= @notification_code %></small></h4>
<div data-alert="" class="alert-box success">
  Estamos aguardando a confirmação da instituição financeira.
  <a href="" class="close">×</a>
</div>
<p>Um e-mail será enviado para você assim que a confirmação for feita.</p>
<hr/>
<p><a href="/" class="button round">Voltar</a></p>