%footer{:class => "row"}
  %div{:class => "large-12 columns"}
    %hr
    .row
      %div{:class => "large-6 columns"}
        %p &copy; Copyright egilsoncama.com.br, todos os direitos reservados.
      %div{:class => "large-6 columns"}