%aside{:class=>"large-3 columns panel"}
  %h5 Sessões
  %ul{:class=>"side-nav"}
    %li
      %a{:href=>"#aulas"} Aulas
    %li
      %a{:href=>"#hangouts"} Hangouts
    %li
      %a{:href=>"#material_apoio"} Material de Apoio
    %li
      %a{:href=>"#forum"} Forum