<h3>Parabéns, </h3>

<p>A sua matrícula no curso "<%= @matricula.curso.nome %>" foi confirmada.</p>
<p>Esteja atento, as suas aulas começam no dia <%= @matricula.curso.proxima_turma.strftime("%d/%m/%Y") %></p>
<p>Acesse a página principal do <a href="http://brunocatao.com">site</a>, faça login e clique no link 
  <strong>"Meus Cursos"</strong> para acessar as suas aulas.</p>

<p>Obrigado.</p>