#topo {
  background-image: url(image_path('logo.jpg'));
  height: 288px;
}

.nav-bar {
  .button-group {
    li {
      margin-top: 3em;
      margin-right: 2em;
    }
  }
}

.curso_item {
  height: 50px;
  overflow: hidden;
  h3 {
    height: 2em;
  }
  img {
    height: 150px;
    margin-bottom: 1em;
  }
}

.faixa {
  background-color: #6D7FCC;
  border: 1px solid;
  border-color: darken(#6D7FCC, 10%);
  padding: 0.2em;
}